<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flyway</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.flyaway.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.flyaway.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.flyaway.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MPlaceServlet</display-name>
    <servlet-name>MPlaceServlet</servlet-name>
    <servlet-class>com.flyaway.servlet.MPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MPlaceServlet</servlet-name>
    <url-pattern>/MPlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADPlaceServlet</display-name>
    <servlet-name>ADPlaceServlet</servlet-name>
    <servlet-class>com.flyaway.servlet.ADPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADPlaceServlet</servlet-name>
    <url-pattern>/ADPlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PUServlet</display-name>
    <servlet-name>PUServlet</servlet-name>
    <servlet-class>com.flyaway.UServlet.PUServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PUServlet</servlet-name>
    <url-pattern>/PUServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MAirlineServlet</display-name>
    <servlet-name>MAirlineServlet</servlet-name>
    <servlet-class>com.flyaway.servlet.MAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MAirlineServlet</servlet-name>
    <url-pattern>/MAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADAirlineServlet</display-name>
    <servlet-name>ADAirlineServlet</servlet-name>
    <servlet-class>com.flyaway.servlet.ADAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADAirlineServlet</servlet-name>
    <url-pattern>/ADAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUServlet</display-name>
    <servlet-name>AUServlet</servlet-name>
    <servlet-class>com.flyaway.UServlet.AUServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUServlet</servlet-name>
    <url-pattern>/AUServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MFlightServlet</display-name>
    <servlet-name>MFlightServlet</servlet-name>
    <servlet-class>com.flyaway.servlet.MFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MFlightServlet</servlet-name>
    <url-pattern>/MFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADFlightServlet</display-name>
    <servlet-name>ADFlightServlet</servlet-name>
    <servlet-class>com.flyaway.servlet.ADFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADFlightServlet</servlet-name>
    <url-pattern>/ADFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FUServlet</display-name>
    <servlet-name>FUServlet</servlet-name>
    <servlet-class>com.flyaway.UServlet.FUServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FUServlet</servlet-name>
    <url-pattern>/FUServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.flyaway.UServlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.flyaway.UServlet.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.flyaway.UServlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
</web-app>